div.loading-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 20px;
}

div.loading-screen img {
	height: 32px;
}

div.loading-screen p {
	height: 20px;
	opacity: 0.5;
}
