div.login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: 40px;
	background: linear-gradient(to bottom right, #543d1b 0%, #3b2748 100%);
}

div.login-wrapper div.login {
	padding: 20px;
	width: 400px;
	max-width: 100%;
	background-color: var(--background);
	border: var(--border-clr) 1px solid;
	border-radius: 10px;
	padding-top: 40px;
	box-shadow: 0 10px 30px 10px #0005;
	translate: 0 30px;
	opacity: 0;
	transition:
		translate 0.3s,
		opacity 0.3s;
	overflow: hidden;
	position: relative;
}

div.login-wrapper.visible div.login {
	translate: 0 0;
	opacity: 1;
}

div.login-wrapper div.login h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}

div.login-wrapper div.login h1 span.routing {
	opacity: 0.5;
	font-weight: 300;
}

div.login-wrapper div.version {
	opacity: 0.5;
}

div.login-wrapper div.login input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	height: 40px;
	padding: 0 15px;
	border-radius: 10px;
	border: var(--border-clr) 1px solid;
	background-color: var(--background);
	color: var(--foreground);
}

div.login-wrapper div.login button {
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border-radius: 10px;
	background-color: var(--button-bg);
	border: var(--button-hover-bg) 1px solid;
	color: var(--foreground);
	margin-top: 10px;
	transition: background-color 0.1s, opacity 0.1s;
}

div.login-wrapper div.login button:hover {
	background-color: var(--button-hover-bg);
}

div.login-wrapper div.login button:active {
	background-color: var(--button-active-bg);
}

div.login-wrapper div.login button:disabled,
div.login-wrapper div.login button:active {
	opacity: 0.5 !important;
}

div.login-wrapper div.login button.register:disabled {
	background-color: var(--button-bg) !important;
}

div.login-wrapper div.login button.login {
	margin-top: 30px;
	background-color: var(--accent);
	font-weight: bold;
	border: none;
}

div.login-wrapper div.login button.login:hover {
	background-color: var(--accent-light);
}

div.login-wrapper > img {
	height: 64px;
}

div.login-wrapper:not(.visible) > img,
div.login-wrapper:not(.visible) > div.version {
	opacity: 0;
}

div.login-wrapper > img,
div.login-wrapper > div.version {
	transition: opacity 0.4s;
}
