div.login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: 30px;
}

div.login-wrapper div.login {
	padding: 20px;
	width: 400px;
	max-width: 100%;
	background-color: var(--background);
	border: var(--border-clr) 1px solid;
	border-radius: 10px;
	padding-top: 30px;
}

div.login-wrapper div.login h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}

div.login-wrapper div.login h1 span.routing {
	opacity: 0.5;
	font-weight: 300;
}

div.login-wrapper div.login input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	height: 40px;
	padding: 0 15px;
	border-radius: 10px;
	border: var(--border-clr) 1px solid;
	background-color: var(--background);
	color: var(--foreground);
}

div.login-wrapper div.login button {
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border-radius: 10px;
	background-color: var(--button-bg);
	border: var(--button-hover-bg) 1px solid;
	color: var(--foreground);
	margin-top: 10px;
}

div.login-wrapper div.login button:hover {
	background-color: var(--button-hover-bg);
}

div.login-wrapper div.login button:active {
	background-color: var(--button-active-bg);
}

div.login-wrapper div.login button:disabled,
div.login-wrapper div.login button:active {
	opacity: 0.5 !important;
}

div.login-wrapper div.login button.register:disabled {
	background-color: var(--button-bg) !important;
}

div.login-wrapper div.login button.login {
	margin-top: 20px;
	background-color: var(--accent);
	font-weight: bold;
	border: none;
}

div.login-wrapper div.login button.login:hover {
	background-color: var(--accent-light);
}

div.login-wrapper > img {
	height: 48px;
}
