@import url('https://unpkg.com/lucide-static@0.563.0/font/lucide.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('./login.css');
@import url('./loadingscreen.css');
@import url('./blockingloader.css');
@import url('./root.css');
@import url('./topbar.css');
@import url('./sidebar.css');

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Nunito Sans';
	background-color: var(--background);
	color: var(--foreground);
	font-size: 14px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
	outline: none;
	font-size: inherit;
}

div.main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

div.main > div.page {
	height: 0;
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	align-items: start;
}

div.main > div.page > div.content {
	width: 0;
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	padding: 15px;
}
