div.topbar {
	width: 100%;
	height: 61px;
	border-bottom: var(--border-clr) 1px solid;
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 20px;
}

div.topbar div.header {
	display: flex;
	align-items: center;
	gap: 15px;
}

div.topbar div.header img {
	height: 40px;
}

div.topbar div.header h1 {
	font-size: 20px;
	height: 30px;
	border-right: var(--border-clr) 1px solid;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-right: 20px;
}

div.topbar div.header span.routing {
	opacity: 0.5;
	font-weight: 300;
}

div.topbar div.actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

div.topbar div.actions button {
	padding: 6px 15px;
	border-radius: 10px;
	border: none;
	background-color: transparent;
	font-weight: bold;
	color: var(--foreground);
	height: 40px;
}

div.topbar div.actions button:hover {
	background-color: var(--button-bg);
}

div.topbar div.actions button:active {
	background-color: var(--button-active-bg);
}

div.topbar button.deploy {
	padding: 0 15px;
	height: 40px;
	background-color: var(--accent);
	border-radius: 10px;
	border: none;
	margin-left: auto;
	font-weight: bold;
	color: var(--foreground);
}

div.topbar button.deploy:hover {
	background-color: var(--accent-light);
}

div.topbar button.deploy:active {
	opacity: 0.5;
}
